* {
  padding: 0;
  margin: 0;
}

:root {
  --card_width: 146px;
  --row_increment: 7px;
  --card_border_radius: 15px;
  --card_small: 28;
  --card_large: 33;
  --card_extra_large: 46;
}

body {
  background-color: #1e1e1e;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 45px 18px;
}

nav .message {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav .userName {
  color: rgba(255, 255, 255, 0.253);
}

nav .user {
  background-color: #d32760;
  width: 54px;
  height: 49.5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageAndSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
}

.messageAndSearch input {
  border-radius: 15px;
  width: 276px;
  height: 25px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.imageProduct {
  width: 114px;
  height: 94px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.buttonProduct {
  border-radius: 15px;
  background-color: #d32760;
  color: white;
  font-size: 15px;
  width: 50%;
}

.card_small {
  grid-row-end: span var(--card_small);
  gap: 5px;
}

.card_large {
  grid-row-end: span var(--card_large);
  gap: 25px;
}

@keyframes expandAnimation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.expandProduct {
  background-color: #606060fd;
  grid-column: 1 / span 2;
  width: 100%;
  height: 100%;
  gap: 5px;
  z-index: 2;
  animation: expandAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card.shiftDown {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100px);
}

p {
  display: none;
}

.expandProduct p {
  display: block;
  font-size: 12px;
  text-align: center;
}

.card {
  background-color: #60606060;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--card_border_radius);
  margin: 15px 10px;
}

.card:hover {
  background-color: #606060fd;
}

.navButtons {
  width: 374px;
  height: 80px;
  border-radius: 40px;
  background-color: #60606060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButtons div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navButtons button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
