* {
  padding: 0;
  margin: 0;
}

:root {
  --card_width: 146px;
  --row_increment: 7px;
  --card_border_radius: 15px;
  --card_small: 25;
  --card_large: 30;
}
body {
  background-color: #1e1e1e;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 45px 18px;
}

nav .messageNav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav .userName {
  color: rgba(255, 255, 255, 0.253);
}

nav .user {
  background-color: #d32760;
  width: 54px;
  height: 49.5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageAndSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
}

.messageAndSearch input {
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 276px;
  height: 25px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.product img {
  width: 124px;
  height: 94px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  column-gap: 7px;
  justify-content: center;
}

.product .btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card_small {
  grid-row-end: span var(--card_small);
}
.card_large {
  grid-row-end: span var(--card_large);
}

.product1,
.product4 {
  background-color: #60606060;
  border: 1px solid white;
  /* width: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  padding: 0;
  margin: 15px 10px;
  border-radius: var(--card_border_radius); */
  margin: 15px 10px;
}
.product2,
.product3 {
  border: 1px solid white;
  /* padding: 0;
  margin: 15px 10px;
  border-radius: var(--card_border_radius); */
  background-color: #60606060;
  /* width: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 10px; */
  margin: 15px 10px;
}

.product4 {
  order: 3;
}

.product3 {
  order: 4;
}

.product1:hover,
.product2:hover,
.product3:hover,
.product4:hover {
  background-color: #606060fd;
}

.navButtons {
  width: 374px;
  height: 80px;
  border-radius: 40px;
  background-color: #60606060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButtons div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navButtons button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
